<div id="footer">
    <div class="container-fluid" style="margin-top: 0px;background-color: #FFA500">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p style="margin-top: 30px"> 2018 Daily Cate <br> Designed by <a href="#" target="_blank">3100 GRP 18</a> <br>Copyright @ 3100 GRP 18. All rights reserved
                    <br>E-mail: zxz112358@foxmail.com
                </p>
                <p class="text-center to-animate"><a href="#" class="js-gotop">Back To Top</a></p>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-12 text-center">-->
        <!--<ul class="social" style="margin-left: 14cm">-->
        <!--<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>-->
        <!--<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>-->
        <!--<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>