<!DOCTYPE html>
<html>

  <head>
    <title><%= name%> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>



<body background="../images/pattern.svg">
  <div class="card mx-auto bg-white text-light">
      <img class="card-img" src="../images/homepagepic0.jpg" alt="Card image">
      <div class="card-img-overlay">
          <h1 class="card-title font-weight-bold text-center text-warning p-lg-5 mt-5"><%= title %></h1>
          <!--<p class="card-text text-center font-weight-bold p-1"><%= title %></p>-->
          <p class="card-text text-center text-warning font-weight-bold p-3">Create, enhance, and share your cooking skills here!</p>
          <!--<p class="card-text">Last updated 3 mins ago</p>-->
      </div>
  </div>
  <% include header.ejs %>

</body>

</html>