<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <% include ../header.ejs %>

<body background="../images/background2.jpg">

  <h1 class = "font-weight-bold p-4" style="margin-left: 3.0em"><%= title %></h1>
  <a href="./ingredient_vegetables" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="margin-left: 8.8em">Vegetables</a>
  <a href="./ingredient_fruits" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="margin-left: 0.8em">Fruits</a>
  <div class="list-group mx-auto w-75">
      <a href="./post1" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">xxx</h5>
              <small>time</small>
          </div>
          <p class="mb-1">name</p>
      </a>
      <a href="./post2" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">xxx</h5>
              <small class="text-muted">time</small>
          </div>
          <p class="mb-1">name</p>
      </a>
      <a href="./post3" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">xxx</h5>
              <small class="text-muted">time</small>
          </div>
          <p class="mb-1">name</p>
      </a>
  </div>

</body>

</html>
