<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background2.jpg">
<h1><%= title%></h1>
<p><%= author%></p>
<p>Content here</p>
</body>

</html>