<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background2.jpg">
<div class="container-fluid text-center" style="background-color: gold">
    <h1><%= title%></h1>
    <h2><%= author%></h2>
</div>
<div class="container-fluid" style="background-color: #efa2a9">
    <% for (var i = 0; i < 3; i++) { %>
    <div class="row">
        <div class="col-md-6" style="background-color: #ffc107">
            <img src="../images/pic.jpg">
        </div>
        <div class="col-md-6">
            <h1>text</h1>
        </div>
    </div>
    <% } %>
</div>

</body>

</html>