<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <% include ../header.ejs %>

<body background="../images/pattern.svg">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
    <p>This is Exhibition Post Section</p>
</body>
</html>
