<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <% include ../header.ejs %>

<body background="../images/background2.jpg">
<h1 class = "font-weight-bold p-3" style="margin-left: 4.5em"><%= title %></h1>
<a href = "./exhposting">Post new article</a>
<div class="container bg-white">
    <ul class="nav nav-tabs">
        <li><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#main" data-toggle="tab">Main Dish</a></li>
        <li><a href="#dish" data-toggle="tab">Dishes</a></li>
        <li><a href="#soup" data-toggle="tab">Soups</a></li>
        <li><a href="#desert" data-toggle="tab">Deserts</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="all">
            All Recipes
        </div>
        <div class="tab-pane" id="main">Main Dish Recipes</div>
        <div class="tab-pane" id="dish">Dish Recipes</div>
        <div class="tab-pane" id="soup">Soup Recipes</div>
        <div class="tab-pane" id="desert">Desert Recipes</div>
    </div>
</div>

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</html>
