<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <% include ../header.ejs %>

<body background="../images/background2.jpg">
<h1 class = "font-weight-bold p-3" style="margin-left: 4.5em"><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>This is Exhibition Post Section</p>

<a href = "./exhposting">Post new article</a>

</body>
</html>
