<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/pattern.svg">
<h1>Sign In</h1>
<p>Sign in page here</p>
</body>

</html>