<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background2.jpg">

<h1 class = "font-weight-bold p-3" style="margin-left: 24%;color:#FFA500"><%= title %></h1>
<p style="margin-left: 25%;color:#FFCC00;font-size: 20px;">Sign up and join us NOW!</p>
<a class="mr-0" style="color:#FFCC00;font-size: 20px;margin-left: 25%">Already have an account?</a>
<a class="ml-0" href="./signin" style="color:#FFFF00;font-size: 20px;margin-left: 25%">Sign In</a>

    <% if(errors){ %>
        <%errors.forEach(function(each){%>
            <div class="alert-danger w-75 mx-auto p-2"><%= each.msg%></div>
        <%})%>
    <%} %>

<form class="w-50 mx-auto mt-5 p-3 border border-warning" style="background-color:#FFA500" method="post" action="/personalSec/signup" enctype="multipart/form-data">
    <div class="form-group">
        <label>User name</label>
        <input name="name" type="text" class="form-control" id="exampleInputName" placeholder="Enter user name">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input name = 'password' type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input name = 'password2' type="password" class="form-control" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="description" type="text" class="form-control" placeholder="Enter description">
    </div>
    <div class="form-group">
        <label>Profile Picture</label>
        <input name="profileimg" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>

</html>