<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background2.jpg">
<div class="container-fluid" style="padding: 10px; background-color: #ffc107">
    <img src="../images/pic.jpg" class="img-thumbnail img-circle" style="width: 60px;margin-left: 15.1cm;margin-top:12px">
    <p>
    <h5 class="text-center">Name<br><small>Description</small></h5>
    </p>
    <p>
        <button class="btn btn-small" type="button">New post</button>
        <button class="btn btn-small" type="button">Modify info</button>
    </p>
</div>
<div class="container-fluid" style="padding: 10px; background-color: #efa2a9">
    <div class="row">
        <div class="col-2">
            <p>
                <a href="./perpage" class="btn btn-warning" aria-pressed="true" role="button" style="width:4cm">My Posts</a><br>
                <a href="./mycomment" class="btn btn-warning" aria-pressed="true" role="button" style="width:4cm">My Comments</a><br>
                <a href="./myfollowing" class="btn btn-warning" aria-pressed="true" role="button" style="width:4cm">My Followings</a><br>
                <a href="./myfollower" class="btn btn-warning" aria-pressed="true" role="button" style="width:4cm">My Followers</a><br>
                <a href="./mylike" class="btn btn-warning" aria-pressed="true" role="button" style="width:4cm">My Likes</a>
            </p>
        </div>
        <div class="col-10">
            <div class="container-fluid" style="background-color: #ffc107;padding:10px">
                <div class="list-group mx-auto w-75">
                    <a href="../ingredientSec/post1" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <img src="../images/pic.jpg">
                            <h5 class="mb-1">xxx</h5>
                            <small>time</small>
                        </div>
                        <p class="mb-1">name</p>
                    </a>
                    <a href="../ingredientSec/post2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <img src="../images/pic.jpg">
                            <h5 class="mb-1">xxx</h5>
                            <small class="text-muted">time</small>
                        </div>
                        <p class="mb-1">name</p>
                    </a>
                    <a href="../ingredientSec/post3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <img src="../images/pic.jpg">
                            <h5 class="mb-1">xxx</h5>
                            <small class="text-muted">time</small>
                        </div>
                        <p class="mb-1">name</p>
                    </a>
                </div>

            </div>
        </div>
    </div>



</div>

</body>

</html>