<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <% include ../header.ejs %>

  <body background="../images/pattern.svg">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is Asking for Help Section</p>
    <p>Post for help   <a class="ml-0" href="./helpPost" style="font-size: 12px;margin-left: 13%">post</a></p>


  </body>

</html>
